// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~@fortawesome/fontawesome-free/css/all.css';

// Variables
@import 'partials/variables';
@import 'partials/general';
@import 'partials/header';
@import 'partials/visuals';
@import 'partials/dashboard';
@import 'partials/location_show';
@import 'partials/sponsor';
@import 'partials/scrollbar';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Grandezza thumb immagine precedente
// quando si modifica l'annuncio di una location
.previous-image img {
    width: 180px;
}