.my-container {
    max-width: 93%;
}

a {
    text-decoration: none;
    color: inherit;
}

// Sponsor Button
.subscription {
    border: 1px solid lightgray;
    padding: 6px 15px;
    border-radius: 25px;
}
