.my-container {
    max-width: 93%;
}

a {
    text-decoration: none;
    color: inherit;
}

// Sponsor Button
.subscription {
    border: 1px solid lightgray;
    padding: 20px 15px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.my_d_none {
    display: none;
}